<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Invoicer.Properties.Settings.DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CustomersConnection"
            connectionString="Server=77.104.129.239;
            Database=aaroncl5_Invoicer;
            Uid=aaroncl5_Invoice;
            Pwd=L%-@D9)LBAFJ;"
            providerName="MySql.Data.MySqlClient" />
      <add name="TAFEConnection"
           providerName="MySql.Data.MySqlClient"
           connectionString="Server=223.27.22.124;Uid=J378925;Pwd=J378925;Database=j378925"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>